{% extends "admin/base.html" %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
    <link rel="icon" type="image/png" href="{% static 'images/ugc.png' %}">
{% endblock %}

{% block branding %}
<div id="site-name" style="display: flex; align-items: center; gap: 12px;">
    <img src="{% static 'images/ugc.png' %}" alt="UGC" style="height: 32px; width: auto; filter: drop-shadow(0 0 5px rgba(197, 160, 89, 0.5));">
    
    <h1 id="site-name" style="color: var(--accent); font-family: 'Montserrat', sans-serif; font-weight: 800; font-size: 1.4rem; letter-spacing: 1px; margin: 0;">
        UGC ADMIN
    </h1>
</div>
{% endblock %}

{% block nav-global %}{% endblock %}